<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="shortcut icon" href="tree.png" type="image/png">
  <link href="https://fonts.googleapis.com/css?family=Bangers" rel="stylesheet">
  <link rel="stylesheet" href="main.css">
  <title>Hola mundo con linda letra</title>
</head>
<body>
  <div id="app">
    <main>
      <h1 :class="class_defined">{{ words }}</h1>
    </main>
    <section>
      <div class="texto">
        <span>Ingrese texto aquí:</span>
        <input type="text" maxlength="23" placeholder="Ej: Hola mundo!" v-model="words">
        <span v-if="words.length >= 23" class="alert">Máximo 23 caracteres</span>
      </div>

      <div class="button1" @click="changeClass('first-class')"></div>
      <div class="button2" @click="changeClass('second-class')"></div>
      <div class="button3" @click="changeClass('third-class')"></div>
      <div class="button4" @click="changeClass('fourth-class')"></div>
      <div class="button5" @click="changeClass('fifth-class')"></div>
    </section>
  </div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.4.2/vue.min.js"></script>
<script>
//agregar validación a la entrada de datos

  var vm = new Vue({
    el: '#app',
    data: {
      words: '',
      class_defined: 'first-class'
    },
    methods: {
      changeClass: function(theclass){
        this.class_defined = theclass;
      }
    }
  });
</script>
</body>
</html>
